name: Quality & Tests

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: pip

      - name: Install requirements
        run: python -m pip install -e '.[test]'

      - name: Quality
        run: ./checks.sh

      - name: Unit tests
        run: python -Wd -m pytest --doctest-modules src

  automerge:
    name: Automerge
    runs-on: ubuntu-latest
    needs: [tests]
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Automerge
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
